@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-xl text-white;
  }
}

@layer components {
  body {
    @apply text-gray-5 font-semibold bg-slate-7;
  }

  .responsive {
    @apply w-full;
  }
  .responsive_wrapper {
    @apply w-full max-w-[1148px] mx-auto my-0 py-6 px-8;
  }

  /*** FORM INPUTS STYLES ***/
  .form-label {
    @apply block mb-1 text-sm font-medium text-gray-300;
  }
  .form-input-text {
    @apply bg-slate-3 border border-slate-2 text-gray-300 text-sm rounded-lg outline-none focus:ring-gray-600 focus:border-gray-600 block w-full p-2.5 placeholder-gray-5;
  }
  .form-input-text:invalid[data-focused="true"] {
    @apply border border-red-500;
  }
  .form-input-text:invalid[data-focused="true"] ~ span {
    display: block;
  }
  .label-file-form {
    @apply w-72 h-96 bg-slate-3 border border-slate-2 text-gray-500 text-lg rounded-lg focus:outline-none cursor-pointer;
  }
  .label-file-preview-form {
    @apply absolute inset-0 flex justify-center items-center w-[264px] h-[360px] m-[11.5px] text-gray-300 text-2xl object-cover opacity-0 rounded-sm transition duration-200 cursor-pointer;
  }
  .label-file-form:invalid {
    @apply border border-red-500;
  }
  .label-file-form:invalid ~ span {
    display: block;
  }
  .form-input-checkbox {
    @apply bg-slate-3 border border-slate-2 text-gray-300 text-sm rounded-lg outline-none block w-full p-2.5;
  }
  .form-input-checkbox-icon {
    @apply relative float-left -ml-[1.5rem] mr-[6px] mt-[0.15rem] h-[1.125rem] w-[1.125rem] appearance-none rounded-[0.25rem] border-[0.125rem] border-solid border-neutral-300 outline-none before:pointer-events-none before:absolute before:h-[0.875rem] before:w-[0.875rem] before:scale-0 before:rounded-full 
    before:bg-transparent before:opacity-0 before:shadow-[0px_0px_0px_13px_transparent] before:content-[''] hover:cursor-pointer hover:before:opacity-[0.04] hover:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] checked:border-2 checked:bg-slate-7 checked:before:opacity-[0.16] checked:after:absolute 
    checked:after:-mt-px checked:after:ml-[0.25rem] checked:after:block checked:after:h-[0.8125rem] checked:after:w-[0.375rem] checked:after:rotate-45 checked:after:border-[0.125rem] checked:after:border-l-0 checked:after:border-t-0 checked:after:border-solid checked:after:border-white 
    checked:after:bg-transparent checked:after:content-[''] focus:shadow-none focus:transition-[border-color_0.2s] focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[0px_0px_0px_13px_rgba(0,0,0,0.6)] focus:before:transition-[box-shadow_0.2s,transform_0.2s] focus:after:absolute 
    focus:after:z-[1] focus:after:block focus:after:h-[0.875rem] focus:after:w-[0.875rem] focus:after:rounded-[0.125rem] focus:after:content-[''] checked:focus:before:scale-100 checked:focus:before:shadow-[0px_0px_0px_13px_#f36f45] checked:focus:before:transition-[box-shadow_0.2s,transform_0.2s] 
    checked:focus:after:-mt-px checked:focus:after:ml-[0.25rem] checked:focus:after:h-[0.8125rem] checked:focus:after:w-[0.375rem] checked:focus:after:rotate-45 checked:focus:after:rounded-none checked:focus:after:border-[0.125rem] checked:focus:after:border-l-0 checked:focus:after:border-t-0 
    checked:focus:after:border-solid checked:focus:after:border-white checked:focus:after:bg-transparent;
  }

  /*** MOVIE DETAILS DIALOG STYLES ***/
  .movie-dialog-content {
    @apply absolute top-11 left-36 right-36 xl:top-16 xl:left-10 xl:right-10 lg:left-0 lg:right-0 bg-slate-5 rounded-l-2xl lg:rounded-none z-20;
  }
  .movie-dialog-backdrop {
    @apply fixed inset-0 w-full h-full bg-black/70 z-20;
  }

  /*** SPECIFIC STYLE CLASSES ***/
  .popper-active {
    @apply opacity-100 pointer-events-auto -translate-y-2 transition duration-200;
  }
  .popper-inactive {
    @apply opacity-0 pointer-events-none z-10 -translate-y-5 transition duration-200;
  }
  .popper-card {
    @apply flex justify-between items-center p-2 rounded-md cursor-pointer hover:bg-slate-2 transition duration-150;
  }

  .loader {
    @apply block mx-auto my-28 text-white text-[10px] w-[1em] h-[1em] relative indent-[-9999em] animate-[mulShdSpin_1.3s_infinite_linear] rounded-[50%];
    transform: translateZ(0);
  }

  .button-primary {
    @apply bg-orange-5 text-white text-center py-3 px-8 rounded-full hover:bg-opacity-70 transition duration-300;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #424242;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #686868;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;
}
